<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <title>Circulation</title>
</head>
<body>

<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                              th:src="@{/resources/static/img/logo.svg}"
                                              height="32" width="32" alt="Учет товара"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link active"
                   href="products.html"
                   th:href="@{/products}">Список товаров</a>

                <a class="nav-item nav-link"
                   href="record.html"
                   th:href="@{/record}">Работа с товаром</a>

                <a class="nav-item nav-link"
                   href="circulation.html"
                   th:href="@{/circulation}">Оборот товара</a>
            </ul>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <span class="navbar-brand text-uppercase mr-auto">Оборот товара</span>
    </nav>
</header>

<section id="records">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">

                    <form>
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label"> С </label>
                                <input id="field_fromDate" type="date" class="form-control">
                                <label class="form-control-label"></label>
                            </div>
                            <div class="col">
                                <label class="form-control-label"> По </label>
                                <input id="field_toDate" type="date" class="form-control" placeholder="По">
                                <label class="form-control-label"></label>
                            </div>
                        </div>
                    </form>


                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Название</th>
                            <th>Датта</th>
                            <th>Колличество</th>
                            <th>Тип сделки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>GTX 1080</td>
                            <td>12.12.2020</td>
                            <td>5</td>
                            <td>Полученно</td>

                        </tr>
                        <tr>
                            <td>RTX 2080</td>
                            <td>12.12.2020</td>
                            <td>5</td>
                            <td>Полученно</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>

<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>