<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
<h2>Product</h2>

<div align="center">
    <a th:href="@{products}">Products</a> |
    <a th:href="@{record}">Add record</a> |
    <a th:href="@{circulation}">Products circulation</a>
</div>

<div align="center">
    <form action="#" th:action="@{/product}" th:object="${product}" method="post">
        <p>Product name: <input type="text" th:field="*{productName}" /></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>


</body>
</html>