<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
<h2>Products list</h2>

<div align="center">
    <a th:href="@{/products}">Products</a> |
    <a th:href="@{/record}">Add record</a> |
    <a th:href="@{/circulation}">Products circulation</a>
</div>


<p align="center">
    <a th:href="@{product}">Add product</a>
</p>
<table align="center" th:unless="${#lists.isEmpty(products)}">
    <thead>
    <tr>
        <td>Product name</td>
        <td>Quantity</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <th><span th:text="${product.productName}">Default</span></th>
        <th><span th:text="${product.productSumCount}">Default</span></th>
        <td><a th:href="@{/product/{id}(id=${product.productId})}">Edit</a></td>
        <td><a th:href="@{/product/delete/{id}(id=${product.productId})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>