<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product record</title>
</head>
<body>
<h2>Add product record</h2>

<div align="center">
    <a th:href="@{/products}">Products</a> |
    <a th:href="@{/record}">Add record</a> |
    <a th:href="@{/circulation}">Products circulation</a>
</div>

<div align="center">
    <form action="#"
          name="recordForm"
          th:method="@{post}"
          th:action="@{${#httpServletRequest.servletPath}}"
          th:object="${productRecord}">

        <input id="field_productRecordId"
               type="hidden"
               th:field="*{productRecordId}"/>

        <p>
        <label for="field_product">Product name</label>
        <select id="field_product"
                th:field="*{productId}">
            <option th:each="product : ${products}"
                    th:value="${product.productId}"
                    th:text="${product.productName}">GTX 980</option>
        </select>
        </p>

        <p>
        <label for="field_quantity">Quantity</label>
        <input type="number"
               id="field_quantity"
               class="form-control"
               th:field="*{quantityOfProduct}"
               th:class="${#fields.hasErrors('quantityOfProduct')} ? 'form-control is-invalid' : 'form-control'"
               min="0">
        </p>
        <div th:if="${#fields.hasErrors('quantityOfProduct')}"
             class="invalid-feedback"
             th:errors="*{quantityOfProduct}">[errors]</div>

        <p>
        <label for="field_date">Deal date</label>
        <input type="date"
               id="field_date"
               class="form-control"
               th:field="*{productRecordDate}"
               th:class="${#fields.hasErrors('productRecordDate')} ? 'form-control is-invalid' : 'form-control'"/>
        </p>
        <div th:if="${#fields.hasErrors('productRecordDate')}"
             class="invalid-feedback"
             th:errors="*{productRecordDate}">[errors]</div>

        <p>
        <label for="field_dealType">Deal type</label>
            <select id="field_dealType" th:field="*{dealType}">
                <option th:each="dealType : ${dealTypes}"
                        th:value="${dealType}"
                        th:text="${dealType.name()}"></option>
            </select>
        </p>
        <p>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
    </form>
</div>
</body>
</html>